//- Component templates

mixin icon-button(iconON, iconOFF)
  button.button.button--primary.button__icon--toggle(class!=attributes.class)
    input.button__icon--toggle__spot(type='checkbox')
    svg.icon--pressed(
      role='presentation'
			focusable='false'
		)
      use(xlink:href=iconOFF)
    svg.icon--not-pressed(
      role='presentation'
			focusable='false'
		)
      use(xlink:href=iconON)

mixin infos-card(iconON, iconOFF)
  .icard.icard--collapsed(class!=attributes.class)
    .icard__content
      block
    +icon-button(iconON, iconOFF)
