//- Details page
article

  section
    h4.h--dark A few words
    p.p--dark
      | This radio is an open source project, designed and developed by Aurélien Grimaud, aka 
      a.a--inline(href='https://twitter.com/inVoltag' target='_blank') @inVoltag
      | . 
    p.p--dark
      | This project is under Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0).
      br
      a(rel='license' href='http://creativecommons.org/licenses/by-sa/4.0/')
        img(alt='Licence Creative Commons' style='border-width:0' src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png')
        
    p.p--dark
      | Help Jean-Bobby to grow up. 
      a.a--inline(href='https://github.com/inVoltag/jean-bobby-radio' target='_blank') Take a glance at the source code
      | .
    p.p--dark
      | Here is a list of attributions. Thanks to those projects which made Jean-Bobby Radio alive.
    
  .divider
    
  section
    h5.h--dark Broadcast server
    p.p--dark
      | Icecast server 2.4.4
      span.tag.tag__label--open-source
    p.p--dark
      | Maintened by the Xiph Community.
    ul
      li
        a.a--inline(href='https://icecast.org' target='_blank') Broadcast with an Icecast server
      li
        a.a--inline(href='https://gitlab.xiph.org/xiph/icecast-server' target='_blank') Contribute to the project

  .divider
  
  section  
    h5.h--dark Source encoder
    p.p--dark
      | Rocket Broadcaster
    p.p--dark
      | Powered by Oscillicious Audio Labs.
    ul
      li
        a.a--inline(href='https://rocketbroadcaster.com' target='_blank') Launch Rocket Broadcaster
      
  .divider
    
  section
    h5.h--dark HTML5 player
    p.p--dark
      | Plyr
      span.tag.tag__label--open-source
    p.p--dark
      | A simple, accessible and customisable media player by Sam Potts.
    ul
      li
        a.a--inline(href='https://plyr.io' target='_blank') Play Plyr
      li
      a.a--inline(href='https://github.com/sampotts' target='_blank') See the author's GitHub

  .divider
    
  section
    h5.h--dark Animation
    p.p--dark
      | Lottie
      span.tag.tag__label--open-source
    p.p--dark
      | An iOS, Android, and React Native library that renders After Effects animations in real time by airbnb.
    ul
      li
        a.a--inline(href='https://airbnb.design/lottie/' target='_blank') Enjoy web animations with Lottie
      
  .divider
    
  section
    h5.h--dark Icons
    p.p--dark
      | Font Awesome 5.0
      span.tag.tag__label--open-source
    p.p--dark
      | Open source icons by Fonticons, Inc.
    ul
      li
        a.a--inline(href='https://fontawesome.com' target='_blank') Start exploring Font Awesome icons

  .divider
    
  section  
    h5.h--dark Host/Server
    p.p--dark
      | Jean-Bobby Radio is hosted on OVH.
    p.p--dark
      | Icecast server is hosted and powered by OVH.
    p.p--dark
      | Audio streaming encoder is hosted and powered by OVH.
    ul
      li
        a.a--inline(href='https://ovh.com' target='_blank') Explore OVH solutions
        
  .divider
    
  section  
    h5.h--dark Developement
    p.p--dark
      | Webpack 5.24.2
      span.tag.tag__label--open-source
      p.p--dark
        | Bundle assets and modules into static and browser-compliant files.
    ul
      li
        a.a--inline(href='https://fontawesome.com' target='_blank') Bundle assets with Webpack

  .divider
    
  section  
    h5.h--dark Music and Recording management
    p.p--dark
      | Music provided by 
      a.a--inline(href='https://www.spotify.com' target='_blank') Spotify
      | .
