//- Header

header.header

	.header__logotype
		svg
			use(xlink:href='#logotype')

	nav.header__nav
		a.large(href='https://open.spotify.com/playlist/65SJCvnRdfbLpyxTVCglYJ' target='_blank') Contribuer à la playlist Place du village

	.status
