//- Header

- var playlist = 'Share your songs'
- var recording = 'Upload your recordings'

header.header

	.header__logotype
		svg
			use(xlink:href='#logotype')

	nav.header__nav
		a.button.button--primary(href='https://open.spotify.com/playlist/2r8HycrnaBQcAHgwjKpa8z' target='_blank')= playlist
		a.button.button--primary(href='https://drive.google.com/drive/folders/1AGmM7T8Y0XSuyYZP97HZteQlG9s7A5zw?usp=sharing' target='_blank')= recording
		include _switch.pug
		
		.tag.status.status--off-air
