//- Switch

- var label = 'Now playing notifications'

.switch.switch--now-playing

	label.switch__label(for='switch')= label
	
	.switch__component
		
		input#switch.switch__spot(type="checkbox" name='switch')
		.switch__knob
		.switch__indicator
