//- Switch

- var label = 'Enable notifications'

.switch

	label.switch_label(for='switch')= label
	
	.switch_component
		
		input#switch.switch_spot(type="checkbox" name='switch')
		.switch_knob
		.switch_indicator
