//- Ongoing track infos

.track

  .provider
    p.p--regular-label
      button.button.button--secondary(onclick='jumpIntoSpotify()') Sign into Spotify to get provider
    
  .artist
    .tag.tag_label--artist
    p.p--large-label
      | François Juno
      
  .title
    .tag.tag_label--title
    p.p--large-label
      | L'An 1999
