//- Ongoing track infos

.track

  .provider
    p.p--regular-label
      | Lara Clette's specialty:
    
  .artist
    .tag.tag_label--artist
    p.p--large-label
      | François Juno
      
  .title
    .tag.tag_label--title
    p.p--large-label
      | L'An 1999
