//- Ongoing track infos

.track.track--start

  .provider
    p.p--regular-label
      button.button.button--secondary(onclick='jumpIntoSpotify()') Sign into Spotify to get provider
    
  .artist
    .tag.tag__label--artist
    p.p--large-label
      | NaN
      
  .title
    .tag.tag__label--title
    p.p--large-label
      | NaN
