//- Player main page

extends _init.pug

block content
	
	include ../assets/images/mono-sheet.svg

	#jumbotron
		include _header.pug
		.play
			include _play-btn.pug
			include _track.pug
			.animation

	#player
		audio.player

	footer
		p.p--center.p--sunset
			| Design + &lt;/code&gt; - Sir Capitaine Nicolas De Briochin
	
	script(
		src='jbradio.min.js'
		type='text/javascript'
	)
