// Template

html, body
	background-color: var(--jb-white)
	font-family: var(--montserrat)
	font-size: var(--font-ref)
	font-weight: 400
	line-height: 1.3
	color: var(--jb-white)
	overflow: hidden

*, *::before, *::after
	box-sizing: border-box

p
	font-size: var(--plain-text)

	& + p
		margin: var(--regular-space) 0 0 0

	&.p--center
		text-align: center

	&.p--sunset
		--duration: 4s

		background: var(--jb-linear-sunset)
		background-size: 400%, 100%
		background-clip: text
		-webkit-text-fill-color: transparent
		animation: shiny-sunset var(--duration) infinite var(--ease-peps)

	&.p--dark
		color: var(--jb-blueberry)

	&.p--large-label
		font-size: calc(var(--plain-text) * 4)
		font-weight: 700

	&.p--regular-label
		font-size: calc(var(--plain-text) * 2)
		font-weight: 500

a
	font-size: var(--plain-text)
	color: var(--jb-milka)
	transition: var(--jb-transition)

	&.a--inline:hover
		color: var(--jb-salmon)

ul

	li + li
		margin: var(--regular-space) 0 0 0

article

	section
		& > *
			margin: var(--regular-space) 0 0 0

		& > *:nth-child(1)
			margin: 0

body
	height: 100vh
	background: var(--radial-mask), var(--texture), var(--jb-blueberry)
	background-size: 100%, auto, auto
	background-blend-mode: normal, color-dodge, normal
	display: grid
	grid-template-rows: auto 96rem

	& > *
		transition: var(--jb-transition)

	&.dom--loaded
		& > *:not(#welcome)
			opacity: 1
		& > #welcome
			opacity: 0
	&.dom--unloaded
		& > *:not(#welcome)
			opacity: 0
		& > #welcome
			opacity: 1

	#welcome
		width: 100%
		height: 100%
		position: absolute
		display: flex
		z-index: 2

	#jumbotron
		grid-row: 1
		display: grid
		grid-template-rows: 128rem auto
		z-index: 1

		header.header
			z-index: 2

		.play
			grid-row: 2
			display: grid
			z-index: 1
			position: relative

	#player
		grid-row: 2
		background-color: transparent
		display: flex
		z-index: 1
