// Components

// Switch
.switch
	height: 5.2rem
	border: .1rem solid var(--jb-white)
	padding: 0 var(--small-space) 0 var(--regular-space)
	border-radius: var(--small-border-radius)
	display: flex
	align-items: center

	.switch_label
		font-size: var(--plain-text)
		margin: 0 var(--small-space) 0 0
		cursor: pointer

	.switch_component
		width: 4.8rem
		height: 3.2rem
		position: relative
		
		.switch_spot
			width: 100%
			height: 100%
			position: absolute
			-webkit-appearance: unset
			z-index: 3
			outline: 0
			margin: 0
			cursor: pointer

			&:checked~.switch_knob
				left: 2rem
				box-shadow: var(--levitation)

			&:checked~.switch_indicator
				--duration: 4s

				background: var(--jb-linear-sunset)
				background-size: 800%, 100%
				animation: shiny-sunset var(--duration) infinite var(--ease-peps)

			&:focus~.switch_indicator
				box-shadow: var(--focus)

		.switch_knob
			width: 2.4rem
			height: 2.4rem
			background: var(--jb-white)
			border-radius: 1.2rem
			position: absolute
			top: .4rem
			left: .4rem
			z-index: 2
			transition: var(--jb-transition)

		.switch_indicator
			width: 100%
			height: 100%
			background: var(--jb-white-1)
			border-radius: 1.6rem
			position: absolute
			z-index: 1
			transition: var(--jb-transition)