// Components

/// Button
.button
	min-width: var(--xlarge-size)
	min-height: var(--xlarge-size)
	padding: 0 var(--regular-space)
	border: none
	border-radius: var(--regular-border-radius)
	font-family: inherit
	font-size: var(--plain-text)
	text-decoration: none
	transition: var(--jb-transition)
	cursor: pointer
	position: relative
	display: flex
	align-items: center

	&:hover
		background-image: var(--jb-linear-sunset)
		background-size: 800%, 100%
		box-shadow: var(--levitation), var(--accent)
		transform: translateY(-8rem)
		animation: shiny-sunset var(--running) infinite var(--ease-peps) forwards

	&:active
		box-shadow: var(--levitation), var(--pressed)

	&:focus
		outline: 0
		box-shadow: var(--focus)

	&--primary
		min-width: var(--xlarge-size)
		height: var(--xlarge-size)
		color: var(--jb-blueberry)
		background-color: var(--jb-white)

	&--secondary
		min-height: 48rem
		color: var(--jb-blueberry)
		background-color: var(--jb-milka)

		a
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0

	&__icon--toggle
		svg
			width: var(--regular-size)
			height: var(--regular-size)
			fill: var(--jb-blueberry)
			position: absolute
			left: calc(50% - 8rem)
			transition: var(--jb-transition)
			z-index: 1

			&.icon--pressed
				transform: rotateZ(180deg)
				opacity: 0

			&.icon--not-pressed
				transform: rotateZ(0)
				opacity: 1

		&__spot
			position: absolute
			width: 100%
			height: 100%
			-webkit-appearance: unset
			left: 0
			z-index: 2
			outline: 0
			margin: 0
			cursor: pointer

			&:checked

				&~.icon--pressed
					transform: rotateZ(0)
					opacity: 1

				&~.icon--not-pressed
					transform: rotateZ(180deg)
					opacity: 0

/// Tag
@mixin active-tag($class, $label)
	&--#{$class}::before
		content: $label
		color: var(--jb-blueberry)
		background-image: var(--jb-linear-sunset)
		background-size: 800%, 100%
		animation: shiny-sunset 4s infinite var(--ease-peps)

@mixin inactive-tag($class, $label)
	&--#{$class}::before
		content: $label
		color: var(--jb-white-4)
		background: var(--jb-white-2)

@mixin light-tag($class, $label)
	&--#{$class}::before
		content: $label
		color: var(--jb-blueberry)
		background: var(--jb-white)

@mixin dark-tag($class, $label)
	&--#{$class}::before
		content: $label
		color: var(--jb-white)
		background: var(--jb-blueberry)

.tag

	&::before
		font-size: var(--small-plain-text)
		border-radius: var(--small-border-radius)
		background: var(--jb-white)
		padding: var(--small-space)

/// Switch
.switch
	height: var(--xlarge-size)
	border: 2rem solid var(--jb-white)
	border-radius: var(--regular-border-radius)
	cursor: pointer
	display: flex
	align-items: stretch

	&--unactive
		pointer-events: none
		opacity: .6

	.switch__label
		font-size: var(--plain-text)
		padding: 20rem 0 20rem var(--regular-space)
		margin: 0 var(--small-space) 0 0
		cursor: pointer

	.switch__component
		width: var(--xlarge-space)
		position: relative

		.switch__spot
			width: 100%
			height: 100%
			position: absolute
			-webkit-appearance: unset
			z-index: 3
			outline: 0
			margin: 0
			cursor: pointer

			&:checked~.switch__knob
				left: 20rem
				box-shadow: var(--levitation)

			&:checked~.switch__indicator
				--running: 4s

				background-image: var(--jb-linear-sunset)
				background-size: 800%, 100%
				animation: shiny-sunset var(--running) infinite var(--ease-peps)

			&:focus~.switch__indicator
				box-shadow: var(--focus)

		.switch__knob
			width: var(--medium-size)
			height: var(--medium-size)
			background: var(--jb-white)
			border-radius: 12rem
			position: absolute
			top: calc(50% - 12rem)
			left: 4rem
			z-index: 2
			transition: var(--jb-transition)

		.switch__indicator
			width: 48rem
			height: var(--large-size)
			background: var(--jb-white-2)
			border-radius: var(--regular-border-radius)
			position: absolute
			z-index: 1
			top: calc(50% - 16rem)
			transition: var(--jb-transition)

/// Infos card
.icard
	position: relative

	&--collapsed
		.icard__content
			transform: translateY(-90%)
			top: 0
			opacity: 0
			visibility: hidden

	&--expanded
		.icard__content
			top: -16rem
			opacity: 1
			visibility: visible

	.icard__content
		width: 400rem
		min-height: 432rem
		max-height: calc(100vh - 96rem - 128rem)
		overflow: scroll
		padding: var(--medium-space)
		background: var(--jb-white)
		border-radius: var(--regular-border-radius)
		box-shadow: var(--levitation)
		position: absolute
		transform: translateY(-100%)
		right: 0
		z-index: 1
		transition: var(--jb-transition)

		iframe
			width: 100%
			height: 412rem

/// Divider
.divider
	width: 100%
	height: 2rem
	background-color: var(--jb-blueberry-2)
	margin: var(--medium-space) 0
	border-radius: 1rem
