// Header

header.header
	grid-row: 1
	display: grid
	grid-template-columns: 112rem auto
	grid-gap: var(--large-space)
	margin: 0 var(--large-space)

	.header__logotype
		grid-column: 1
		place-self: center

		svg
			height: 96rem
			fill: var(--jb-white)

	.header__nav
		grid-column: 2
		display: flex
		justify-content: flex-end
		align-items: center

		& > *
			margin: 0 var(--small-space)
		& > *:nth-last-child(1)
			margin: 0 0 0 var(--small-space)

		.status

			&::before
				font-size: var(--small-plain-text)
				border-radius: var(--small-border-radius)
				background: var(--jb-white)
				padding: var(--small-space)

			&--on-air::before
				--duration: 4s

				content: 'on-air'
				color: var(--jb-blueberry)
				background: var(--jb-linear-sunset)
				background-size: 800%, 100%
				animation: shiny-sunset var(--duration) infinite var(--ease-peps)

			&--off-air:before
				content: 'off-air'
				color: var(--jb-white-4)
				background: var(--jb-white-2)
