// Heading

h1, h2, h3, h4, h5, h6
	font-weight: 700

h1
	font-size: var(--x-large-size)
	letter-spacing: var(--large-kerning)

h2
	font-size: var(--large-size)
	letter-spacing: var(--large-kerning)

h3
	font-size: var(--medium-size)
	letter-spacing: var(--large-kerning)

h4
	font-size: var(--small-size)
	letter-spacing: var(--medium-kerning)

h5
	font-size: var(--x-small-size)
	letter-spacing: var(--medium-kerning)

h6
	font-size: var(--x-small-size)
	letter-spacing: var(--medium-kerning)
