// Track infos

.track
  width: calc(33vw - var(--regular-space))
  max-height: calc(100% - var(--xlarge-space))
  text-align: right
  position: absolute
  bottom: var(--large-space)
  right: var(--large-space)
  z-index: 2

  & > *
    transition: opacity var(--hare) var(--ease-peps), transform var(--running) var(--ease-peps)

  @for $i from 1 through 3
    & > *:nth-child(0n + #{$i})
      transition-delay: ($i * .1s) - .1s

  &--start > *
    transform: translateX(64rem)
    opacity: 0
    pointer-events: none

  &--end > *
    transform: translateX(0)
    opacity: 1
    pointer-events: all

  div + div
    margin: var(--large-space) 0 0

  .tag__label
    @include light-tag('artist', 'Artist')
    @include light-tag('title', 'Title')

  .provider
    display: flex
    justify-content: flex-end
