// Track infos

.track
  width: 800rem
  text-align: right
  position: absolute
  bottom: var(--large-space)
  right: var(--large-space)

  div + div
    margin: var(--large-space) 0 0

  .tag_label
    @include regular-tag('artist', 'Artist')
    @include regular-tag('title', 'Title')

  .provider
    display: flex
    justify-content: flex-end
